<%- include('partials/header') %>
<main class="w-full ">
    <div class="main h-[100vh] w-full">
        <div class="h-[100vh] w-full bg-cover flex justify-center item-center" style="background-image: url('https://images.unsplash.com/photo-1575671153502-a417e2ddd259?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8aGFuZGJhZ3N8ZW58MHx8MHx8fDA%3D');">
            <div class="inside h-[100vh] w-full  mt-20 flex justify-center item-center">
            <div class="mt-40">
                <h1 class="font-bold text-5xl text-white font-sherif">Luxury Handbags For  Women</h1>
            <p class="text-4xl text-white font-semibold ml-40">Shop from <span class="text-black font-bold text-6xl">.DRIVE</span></p>
            </div>
            </div>
            
        </div>
        
    </div>
    <div class="brand flex justify-evenly item-center gap-x-5">
        <img class="h-32 w-32" src="https://tse4.mm.bing.net/th?id=OIP.p_f6CSQFpCPfqbx3990PcAHaHa&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse1.mm.bing.net/th?id=OIP.MxBaauP4Ecq_6PJY2DoUJwHaHa&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse2.mm.bing.net/th?id=OIP.UjFvlODo1Qc-4laqEE3BbQHaHa&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse3.mm.bing.net/th?id=OIP.cMK-ItypJvXYZzOA8x2b8gHaHa&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse3.mm.bing.net/th?id=OIP.w1TPUsxLz-O61K42a1YVfAHaFS&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse4.mm.bing.net/th?id=OIP.MjJIuKrqXYHuT--D1vOg0QHaHa&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse3.mm.bing.net/th?id=OIP.P9jBDv4e53B5eI0gLGxpRAHaH_&pid=Api&P=0&h=180" alt="">
        <img class="h-32 w-32" src="https://tse2.mm.bing.net/th?id=OIP.kku12uOx0RZDM62BDSaPqgHaHa&pid=Api&P=0&h=180" alt="">
    </div>
    <div class="next1 flex justify-between item-center h-96 w-full gap-x-5 mt-5">
        <div class="left h-96 w-[50%] bg-zinc-300"><img class="w-full h-96 object-cover" src="https://plus.unsplash.com/premium_photo-1664392147011-2a720f214e01?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8aGFuZGJhZyUyMHN0eWxlcyUyMHdpdGglMjB3b21lbiUyMHdpZGUlMjBpbWd8ZW58MHx8MHx8fDA%3D" alt=""></div>
        <div class="bags flex justify-center item-center gap-x-5 h-96 w-[50%]">
            <a class="item h-full w-1/2 bg-zinc-200" href="/shop"><div class="item "><img class="w-full h-96 object-cover overflow-hidden" src="https://images.unsplash.com/photo-1548036328-c9fa89d128fa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGJhZ3xlbnwwfHwwfHx8MA%3D%3D" alt=""></div></a>
            <a class="item h-full w-1/2 bg-zinc-200" href="/shop"><div class="item "><img class="w-full h-96 object-cover" src="https://images.unsplash.com/photo-1598532163257-ae3c6b2524b6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGhhbmRiYWdzfGVufDB8fDB8fHww" alt=""></div></a>
            
        </div>
        
    </div>
    <div class="bags flex justify-center item-center gap-x-4 h-96 w-full mt-5">
        <a class="inline-block h-96 w-1/4 bg-zinc-200" href="/shop"><div class="item"><img class="w-full h-96 object-cover" src="https://images.unsplash.com/photo-1566150905458-1bf1fc113f0d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aGFuZGJhZ3N8ZW58MHx8MHx8fDA%3D" alt=""></div></a>
        <a class="inline-block h-96 w-1/4 bg-zinc-200" href="/shop"><div class="item"><img class="w-full h-96 object-cover" src="https://plus.unsplash.com/premium_photo-1670984076180-22a6c8f27f2b?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aGFuZGJhZ3N8ZW58MHx8MHx8fDA%3D" alt=""></div></a>
        <a class="inline-block h-96 w-1/4 bg-zinc-200" href="/shop"><div class="item"><img class="w-full h-96 object-cover" src="https://images.unsplash.com/photo-1591561954555-607968c989ab?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGhhbmRiYWdzfGVufDB8fDB8fHww" alt=""></div></a>
        <a class="inline-block h-96 w-1/4 bg-zinc-200" href="/shop"><div class="item"><img class="w-full h-96 object-cover" src="https://images.unsplash.com/photo-1559563458-527698bf5295?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGhhbmRiYWdzfGVufDB8fDB8fHww" alt=""></div></a>
        <a class="inline-block h-96 w-1/4 bg-zinc-200" href="/shop"><div class="item"><img class="w-full h-96 object-cover" src="https://tse3.mm.bing.net/th?id=OIP.968RY8ZGt2Y4-ziSGKJcEQHaE8&pid=Api&P=0&h=180" alt=""></div></a>
        
    </div>
    <div class="main-bags-by-shop w-full min-h-96 gap-x-4 mt-5 flex flex-wrap item-center">
        <% products.forEach(function(product) { %>
            <a class="inline-block h-96 w-[19%] bg-zinc-200 mb-5" href="/shop/<%= product._id%>">
                <div class="item w-full h-80 bg-red-300">
                    <img class="w-full h-full object-cover" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                </div>
                <div class="flex py-2 px-3 justify-between">
                    <div>
                        <h3 class="font-semibold text-xl tracking-tighter w-58 h-7  overflow-hidden"><%= product.productname %></h3>
                        <h4 class="text-blue-600 font-semibold "><i class="fa-solid fa-indian-rupee-sign"></i><%= product.price %></h4>
                    </div>
                    <h3 class="text-green-700 text-xl font-bold"><%= product.discount %>%</h3>
                </div>
            </a>
        <% })%>
    </div>
</main>



<%- include('partials/footer') %>