<%- include('partials/header')%>
    <main class="bags flex justify-center item-center  min-h-96 w-full  px-3">
        <div class="main flex  item-center gap-x-4 min-h-96  w-full mt-5  flex-wrap">
            <% products.forEach(function(product) { %>
                <a class="inline-block h-96 w-[19%] bg-zinc-200 mb-5" href="/shop/<%= product._id %>">
                    <div class="item w-full h-80 bg-red-300">
                        <img class="w-full h-full object-cover" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="">
                    </div>
                    <div class="flex py-2 px-3 justify-between">
                        <div>
                            <h3 class="font-semibold text-xl tracking-tighter w-58 h-7  overflow-hidden"><%= product.productname %></h3>
                            <h4 class="text-blue-600 font-semibold "><i class="fa-solid fa-indian-rupee-sign"></i><%= product.price %></h4>
                        </div>
                        <h3 class="text-green-700 text-xl font-bold"><%= product.discount %>%</h3>
                    </div>
                </a>
            <% })%>
            
            

        </div>



    </main>
    <%- include('partials/footer')%>